#heading {
  background-color: #b2c1d3;
  padding: 50px;
  text-align: center;
}

#heading_icon {
  width: 50%;
}

#heading_description {
  margin-top: -40px;
}

body {
  background-color: #ffffff;
}



